body {
  background-color: powderblue;
  font-family: "Comic Sans MS";
}

 div.count{
    display: inline-block ;
    width: 40px;
}

input {

    background: rgb(212, 51, 204);
    
    color: white;
    
    border-style: outset;
    
    border-color: rgb(87, 13, 13);
    
    height: 50px;
    
    width: 100px;
    
    font: bold 15px arial, sans-serif;
    
    text-shadow:none;


    
    }

input:hover{
    background: rgb(100, 51, 100);
    animation: partybutton 1s infinite;

}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    font-style: unset;
    text-shadow: 0px 0px 30px rgb(87, 13, 13);
    text-sh
}


@keyframes partybutton {
    from {background: rgb(116, 230, 10);}
    to {background: rgb(6, 13, 107);}
 }

